.container {
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

.table {
  width: 100%;
  backdrop-filter: blur(16px) saturate(98%);
  -webkit-backdrop-filter: blur(16px) saturate(98%);
  background-color: rgba(34, 40, 49, 0.76);
  border: 1px solid rgba(122, 122, 122, 0.3);
  padding: 10px;
  border-radius: 3px;
}

.table-detail {
  width: 100%;
  border-bottom: 4px solid #000;
}

.table-header tr th {
  border-bottom: solid 2px !important;
  border-top: solid 2px !important;
  border-color: #000 !important;
}

.table th {
  border-bottom: 2px solid #fff;
}

.table tbody {
  text-align: center;
}

.detail-button {
  padding: 3px 8px;
  background: rgba(235, 25, 110, 1);
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 4px 0;
}

.detail-button:hover {
  background: rgb(224, 67, 130);
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.left-content,
.mid-content {
  flex-basis: 25%;
}

.left-content form {
  display: flex;
  align-items: center;
}

.icon {
  /* position: absolute; */
  color: gray;
  background: rgb(255, 255, 255);
  z-index: 2;
  margin-left: 5px;
  padding: 3px;
  font-size: 27.5px;
  border-radius: 3px;
  cursor: pointer;
}

.icon:hover {
  background: #eb196e;
  color: #fff;
}

.icon:active {
  background: #fff;
  color: gray;
}

.top-content input {
  outline: none;
  border: rgb(224, 67, 130, 0.8);
  border-radius: 3px;
  padding: 2px 2px;
  text-align: center;
}

.select-filter {
  padding: 2px 4px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: #fff;
}

.date-moment {
  display: flex;
  justify-content: center;
}

/* ------------------------------- PAGINATION ------------------------------- */

.pagination ul {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px 0;
  padding-bottom: 10px;
  list-style: none;
  outline: none;
}

/* .pagination a {
  border: 1px solid #fff;
  background: #eb196e;
  font-size: 1rem;
  padding: 3px 12px;
  transition: ease 0.3s;
  outline: none;
  text-decoration: none;
}

.pagination li a:hover {
  background: #fff;
  color: #eb196e;
}

.pagination li a:focus {
  outline: none;
  border: none;
  background: #fff;
  color: #eb196e;
}

.pagination li:active {
  outline: none;
  border: none;
  background: #eb196e;
  color: #fff;
} */

/* .pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
} */

.pagination li a {
  border: 1px solid;
  padding: 5px 12px;
  outline: none;
  cursor: pointer;
}

.pagination li a:hover {
  background: #fff;
  color: #eb196e;
}

.pagination .active a,
.pagination .active span,
.pagination .active a:hover,
.pagination .active span:hover,
.pagination .active a:focus,
.pagination .active span:focus {
  background-color: #fff;
  outline: none;
}
.pagination li a,
.pagination li span {
  /* color: #5850ec; */
  background-color: #eb196e;
  border-color: #fff;
}

.pagination li a:focus {
  background: #fff;
  color: #eb196e;
}

@media (max-width: 430px) {
  .top-content {
    display: block;
    margin-bottom: 1rem;
  }

  .left-content {
    margin-bottom: 8px;
  }

  .icon {
    width: 80px;
  }

  .select-filter,
  .top-content input {
    width: 100%;
    margin: 5spx 0;
  }
}
