.pagination-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;

  .arrow {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50%;
    font-size: 1.2rem;
    background: #fff;
    transition: 0.3s;

    &:hover {
      background: #eb196e;
      border: solid 2px #fff;
    }
  }

  .pagination-item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 32px;
    color: #000;
    font-weight: 500;
    display: flex;
    font-size: 15px;
    background: #fff;
    border: solid 1.5px #000;
    transition: 0.3;

    &:active {
      background-color: #fff;
      color: #eb196e;
    }

    &:focus {
      background-color: #fff;
      color: #eb196e;
    }

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      border: solid 1.5px #eb196e;
      color: #eb196e;
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }
  .disable {
    pointer-events: none;
    background: red;
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}
