.navbarContainer {
  width: 100%;
  background: white;
  padding: 10px 0;
  transition: all 1s ease-in;
}

.content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 992px;
}

.content-left p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #eb196e;
}

.content-right {
  display: flex;
  gap: 10px;
}

.content-right p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.content-right p:hover {
  color: #eb196e;
}

@media (max-width: 885px) {
  .content {
    margin: 0 10px;
  }
}
