.leaderboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 20px 0;
  border-bottom: 2px solid white;
}

.directions {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.directions h3 {
  padding: 0 8px;
  margin: 3px 0;
  transition: 0.2s ease-out;
  border-radius: 3px;
}

.directions h3:hover {
  background: #7f3af0;
  color: #fff;
}

.table-container {
  display: flex;
  justify-content: center;
  color: white;
  overflow-x: auto;
}
